*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  height: 100vh;
  background-color: black;
}

#sokobanScreen {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex: 1;
  background-color: black;
  color: white;
}

.row {
  display: flex;
  align-items: center;
  flex: 1;
}

.cell {
  border: solid 1px white;
  width: 100vw;
  height: 128px;
  text-align: center;
  font-size: 128px;
}
