*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  background-color: black;
}

#sokobanScreen {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
    color: white;
    justify-content: flex-start;
    gap: 0px;
}

.row {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  gap: 0px;
}

.cell {
  border: solid 1px white;
  min-width: 128px;
  max-width: 128px;
  height: 128px;
  text-align: center;
  font-size: 128px;
}
